.gradient-text {
  background: linear-gradient(
    to right,
    rgb(168 85 247),
    rgb(236 72 153),
    rgb(59 130 246)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 6s infinite linear;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
